@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner svg {
  animation: 0.2s spinning infinite both;
  width: 100%;
  height: 100%;
  fill: inherit;
}
