.profile-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit__form {
  display: grid;
  position: relative;
  background-color: var(--colors-secondary);
  grid-template-areas: 'avatar fullname .' 'avatar description .' 'avatar description button';
  padding: 20px 40px;
  column-gap: 20px;
  height: 260px;
  width: 1245px;
  margin-top: 30px;
  align-items: end;
  justify-items: start;
}

.profile-edit__form-avatar-upload {
  grid-area: avatar;
  cursor: pointer;
  align-self: center;
}

.profile-edit__form-avatar-upload img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  border: 4px solid var(--colors-primary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profile-edit__form-input {
  grid-area: fullname;
  color: var(--colors-secondary);
  background-color: var(--colors-primary);
  font-size: calc(1rem * 32 / 16);
  font-weight: 500;
  padding-left: 10px;
  height: 60px;
  width: 655px;
}

.profile-edit__form textarea {
  grid-area: description;
  font-weight: 400;
  font-size: calc(1rem * 24 / 16);
  color: var(--colors-secondary);
  background-color: var(--colors-primary);
  padding: 10px;
  height: 130px;
  width: 655px;
  resize: none;
}

.profile-edit__form button {
  grid-area: button;
  background-color: var(--colors-quaternary);
  color: var(--colors-tertiary);
  font-size: calc(1rem * 24 / 16);
  font-weight: 700;
  padding: 10px 15px;
  box-shadow: 0 1px 4px var(--colors-quaternary);
}

.profile-edit__form a {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
}

.profile-edit__form a svg {
  width: 100%;
  height: 100%;
}

.spinner-profile-edit {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 26px;
  height: 26px;
}

.spinner-profile-edit svg {
  animation: 0.2s spinning infinite both;
}

.spinner-profile-edit path {
  fill: var(--colors-primary);
}
