.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  padding: 0 40px;
  background-color: var(--colors-secondary);
}

.navigation__logo-link {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: calc(1rem * 24 / 16);
  color: var(--colors-tertiary);
  font-weight: 500;
}

.navigation__logo-link svg {
  width: 40px;
  height: 28px;
}

.navigation__form {
  display: flex;
  align-items: center;
  height: 40px;
}

.navigation__form-input {
  padding-left: 10px;
  color: var(--colors-tertiary);
  background-color: var(--colors-primary);
  font-size: calc(1rem * 20 / 16);
  font-weight: 400;
  width: 560px;
  height: 100%;
}

.navigation__form-button {
  height: 100%;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-tertiary);
}

.navigation__form-button svg {
  width: 22px;
  height: 22px;
}

.navigation__login-link svg {
  width: 45px;
  height: 45px;
  fill: var(--colors-primary);
}

.navigation__actions {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.navigation__actions-upload {
  background-color: var(--colors-primary);
  color: var(--colors-tertiary);
  font-weight: 700;
  font-size: calc(1rem * 18 / 16);
  padding: 10px 15px;
}

.navigation__actions-avatar {
  width: 52px;
  height: 52px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  box-shadow: 0 1px 2px black;
}

.navigation__actions-logout {
  width: 40px;
  height: 45px;
}

.navigation__actions-logout svg {
  height: 100%;
  width: 100%;
}
