:root {
  --colors-primary: "#161616",
  --colors-secondary: "#9B9B9B",
  --colors-tertiary: "#FFFFFF",
  --colors-quaternary: "#FF0000",
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Rubik', sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
}
